<nav>
  <div class="logo">
    Krishi Kontho <br />
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle"
      viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
    </svg>
    <a routerLink="/farmer">Farmer Dashboard</a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/" >Home</a></li>
    <li><a routerLink="/farmer/cetegory">All Category</a></li>
    <li><a routerLink="/farmer/p-list">Product List</a></li>
    <li><a routerLink="/farmer/arg-info">Agriculral Info</a></li>
    <li><a routerLink="22">Order List</a></li>
    <li><a routerLink="/farmer/farming-story">Farming Story</a></li>
    <li><a routerLink="/g">Gallery</a></li>
  </ul>
  <li *ngIf="isLoggedIn" (click)="logout()">Logout</li>
  <div class="extra-links">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#f9fcff" class="bi bi-bell" viewBox="0 0 16 16">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
    </svg>
    <a href="https://www.facebook.com" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" />
    </a>
    <a href="https://www.youtube.com" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube" />
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#f9fcff" class="bi bi-bag-fill"
      viewBox="0 0 16 16">
      <path
        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z" />
    </svg>

    <select class="language-select">
      <option value="en">English</option>
      <option value="bn">বাংলা</option>
      <option value="hi">हिंदी</option>
    </select>
  </div>
</nav>
<router-outlet></router-outlet>
