<app-farmer-dashboard></app-farmer-dashboard>
<div class="container">
    <h2>Product List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Details</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let products of product">
          <td>{{ products.name }}</td>
          <td>{{ products.price }}</td>
          <td>{{ products.categoryId }}</td>
          <td>{{ products.quantity }}</td>
          <td>{{ products.description }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/farmer/p-edit/',products.id]">Edit</a>&nbsp;
            <button class="btn btn-danger" (click)="delete(products.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


