<div class="container">
    <h2>Product List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Condition</th>
          <th>Image</th> <!-- Added column for displaying image -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product">
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.categoryId }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.productCondition }}</td>
          <td><img [src]="product.imageUrl" alt="{{ product.name }}" width="100" /></td> <!-- Display image -->
          <td>
            <a class="btn btn-primary" [routerLink]="['/farmer/p-edit/', product.id]">Edit</a>&nbsp;
            <button class="btn btn-danger" (click)="delete(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
