<p>buyer-dashboard works!</p>
<div class="sidebar">
    <div class="logo">Buyer Panel</div>
    <ul>
      <!-- <li><a routerLink="/buyer/buyer-dashboard">Buyer Dashboard</a></li> -->
      <li><a routerLink="/buyer/profile">Profile</a></li>
      <li><a routerLink="/buyer/order-list">Your Delevery</a></li>
      <li><a routerLink="/buyer/order-list">Order history</a></li>
      <li><a routerLink="/buyer/feedback-story">Feedback Story</a></li>
      <li><a routerLink="/buyer/order-list">Contract Us</a></li>

    </ul>
  </div>
  <router-outlet></router-outlet>
