
<app-admin-dashboard></app-admin-dashboard>

<head>
    <title>আমাদের সম্পর্কে</title>
    <link rel="styleUrlst" href="style.scss">
  </head>
  <body>
    <div class="container">
      <h1>আমাদের সম্পর্কে</h1>
      <p>আমরা তাজা ও জৈব খাবার সরবরাহ করি। আমাদের পণ্যগুলি স্থানীয়ভাবে উৎপাদিত এবং স্বাস্থ্যকর।</p>

      <div class="section">
        <h2>বিশেষ অফার</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nunc justo, sagittis suscipit ultrices.</p>
      </div>

      <div class="section">
        <h2>ফ্রোজেন ফুড</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nunc justo, sagittis suscipit ultrices.</p>
      </div>

      <div class="section">
        <h2>ডিম ও পনির</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nunc justo, sagittis suscipit ultrices.</p>
      </div>
    </div>
  </body>
