
<router-outlet></router-outlet>
<app-farmer-nav></app-farmer-nav>
<p>pdelevery-list works!</p>
<div class="sidebar">
    <div class="logo">Farmer Panel</div>
    <ul>
      <li><a routerLink="/farmer/profile">Profile</a></li>
      <li><a routerLink="/farmer/p-create">create Product</a></li>
      <li><a routerLink="/farmer/p-create"> Offers create</a></li>
      <li><a routerLink="/farmer/pdelevery-list">Product Delivery</a></li>
      <li><a routerLink="/farmer/pdelevery-list">ConTract Us</a></li>
<!--
      <li><a routerLink="/farmer/arg-info">Agriculture Info</a></li>
      <li><a routerLink="/farmer/p-list"> My Product List</a></li>
      <li><a routerLink="/farmer/pdelevery-list">Product Delivery</a></li>
      <li><a routerLink="/farmer/farming-story">Farming Story</a></li>

      <li><a routerLink="/farmer/order-list">Order List</a></li>
      <li><a routerLink="/farmer/p-create">create Product</a></li>
      <li><a routerLink="/farmer/p-edit">Order List</a></li> -->
      <!-- <li><a routerLink="/farmer/farmer-dashboard/admin/product-category">Product Category</a></li> -->

    </ul>



  </div>



  <router-outlet></router-outlet>

