<app-admin-nav></app-admin-nav>

<div class="sidebar">
    <div class="logo">Admin Panel</div>
    <ul>
      <li><a routerLink="/admin/buyer-list">BuyerList</a></li>
      <li><a routerLink="/admin/farmer-list">Farmer List</a></li>
      <li><a routerLink="/admin/market-price">Market Price</a></li>
      <li><a routerLink="/admin/market-price">MarketPrice-create</a></li>
      <li><a routerLink="/admin/home">Home-create</a></li>
      <li><a routerLink="/admin/home">Seasonal-create</a></li>
      <li><a routerLink="/admin/home">Seasonal</a></li>
      <li><a routerLink="/admin/home">Bundle-create</a></li>
      <li><a routerLink="/admin/home">Bundle</a></li>
      <li><a routerLink="/admin/home">Newest-create</a></li>
      <li><a routerLink="/admin/home">Newest</a></li>
      <li><a routerLink="/admin/home">Trending-create</a></li>
      <li><a routerLink="/admin/home">Trending</a></li>
      <li><a routerLink="/admin/home">GreatDeal-create</a></li>
      <li><a routerLink="/admin/home">Great Deal</a></li>
      <li><a routerLink="/admin/home">Upcoming-create</a></li>
      <li><a routerLink="/admin/home">Upcoming</a></li>
      <li><a routerLink="/admin/home">farmerstory-create</a></li>
      <li><a routerLink="/admin/home">farmerstory</a></li>
      <li><a routerLink="/admin/home">krishistory-create</a></li>
      <li><a routerLink="/admin/home">krishistory</a></li>
      <li><a routerLink="/admin/home">cetegory-create</a></li>
      <li><a routerLink="/admin/home">cetegory</a></li>
      <li><a routerLink="/admin/home">cottract</a></li>
      <li><a routerLink="/admin/home">cottract-create</a></li>
      
    </ul>
</div>

<router-outlet></router-outlet>
