<app-admin-nav></app-admin-nav>
<div class="sidebar">
    <div class="logo">Admin panel</div>
    <ul>
      <li><a routerLink="/admin/home">Home</a></li>
      <!-- <li><a routerLink="/admin/admin-dashboard">Admin Dashboard</a></li> -->
      <li><a routerLink="/admin/about">About</a></li>
      <li><a routerLink="/admin/contract">Contract</a></li>
      <li><a routerLink="/admin/product-category">Product Category</a></li>
      <li><a routerLink="/admin/buyer-list">Buyer List</a></li>
      <li><a routerLink="/admin/farmer-list">Farmer List</a></li>
      <li><a routerLink="/admin/market-price">Market Price</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
