<app-admin-nav></app-admin-nav>

<div class="sidebar">
    <div class="logo">Admin Panel</div>
    <ul>
      <li><a routerLink="/admin/home">Home</a></li>
      <li><a routerLink="/admin/about">About</a></li>
      <li><a routerLink="/admin/contract">Contract</a></li>

      <li>
        <a (click)="toggleDropdown()" class="dropdown-toggle">Product Category</a>
        <ul *ngIf="isDropdownOpen" class="dropdown">
          <li><a href="#">1. Meat</a></li>
          <li><a href="#">2. Fish</a></li>
          <li><a href="#">3. Fruits</a></li>
          <li><a href="#">4. Vegetables</a></li>
          <li><a href="#">5. Milk & Dairy</a></li>
          <li><a href="#">6. Spices</a></li>
          <li><a href="#">7. Herbal Plants</a></li>
        </ul>
      </li>

      <li><a routerLink="/admin/buyer-list">Buyer List</a></li>
      <li><a routerLink="/admin/farmer-list">Farmer List</a></li>
      <li><a routerLink="/admin/market-price">Market Price</a></li>
    </ul>
</div>

<router-outlet></router-outlet>
